/* Selectors */

body {
  font-family: "Montserrat", sans-serif;
}

/* Language buttons */

#language {
  text-align: right;
  padding: 1% 17% 0.1% 5%;
}

.lang {
  text-decoration: none;
  color: #fff;
}

.lang:hover {
  color: #31e4c6;  
}

/* Title */

#title {
  background: #31e4c6;
  background: -webkit-linear-gradient(111deg, #31e4c6 0%, #ff47ef 100%);
  background: linear-gradient(111deg, #31e4c6 0%, #ff47ef 100%);
  color: #fff;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.imgRotate {
  transform: rotate(22deg);
  width: 20%;
  position: absolute;
  right: 25%;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.download-button {
  margin: 5% 3% 3% 0;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 0 3%;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 3rem;
}

.navbar-brand:hover {
  color: #e5c5f8;
}

.nav-link {
  font-size: 22px;
  margin: 0 32px !important; 
}

/* Features */

#features {
  background-color: #fff;
  margin-bottom: 100px;
  padding: 3.5% 15% 3.5% 15%;
  z-index: 1;
  position: relative;
}

.h3-features {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.5rem;
}

.features-box {
  text-align: center;
}

.par-features {
  color: #8f8f8f;
}

.icons-features {
  color: #7DE5ED;
  padding: 5% 0;
}

.icons-features:hover {
  color: #5DA7DB
}

/* Testimonials */

#testimonials {
  text-align: center;
  background: #a6abff;
  background: -webkit-linear-gradient(111deg, #a6abff 0%, #57948f 50%, #ff4dac 100%);
  background: linear-gradient(111deg, #a6abff 0%, #57948f 50%, #ff4dac 100%);
  color: #fff;
}

h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonials-picture {
  width: 15%;
  border-radius: 50%;
  margin: 1.5em;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press */

#press {
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 0 1.2em 3em;
}

/* Pricing  */

#pricing {
  text-align: center;
  padding: 3% 15% 7%;
}

.row {
  padding: 5% 3%;
}

.pricing-btn {
  background-color: #b8c3f9;
}

.pricing-btn-free:hover {
  background-color: #b8c3f9;
}

.card-header {
  background-color: #83c8d0fd;
}
/* Call to action & footer */

#cta {
  padding: 7% 15%;
  text-align: center;
  background: #31e4c6;
  background: -webkit-linear-gradient(111deg, #31e4c6 0%, #ff47ef 100%);
  background: linear-gradient(111deg, #31e4c6 0%, #ff47ef 100%);
  color: #fff;
}

.h2-cta {
  padding: 0 5%;
  font-family: 'Montserrat-Black';
}

.download-button-bottom {
  margin: 2% 1%;
}

#footer {
  padding: 2% 3% 5%;
  text-align: center;
  background-color: #fff;
}

.icons-footer {
  padding: 3% 1%;
}

/* Media part */

@media (max-width: 1210px) {

  #title {
    text-align: center;
  }

  .imgRotate {
    position: static;
    transform: rotate(0);
    width: 50%;
  }
}